:root {
    --bg-light: #eff2f8;
    --main-color: #20a19f;
    --sub-color: #c87d3d;
    --bg-main: #20a19f;
    --bg-sub: #c87d3d;
    --bg-light-dark: #343a40;
}

/********** Template CSS **********/
// 1. FONTS
// @font-face {
//     font-family: "Raleway";
//     src: url("/assets/fonts/Raleway/Raleway-Thin.ttf") format("truetype");
//     font-style: normal;
//     font-weight: 100;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Raleway";
//     src: url("/assets/fonts/Raleway/Raleway-ExtraLight.ttf") format("truetype");
//     font-style: normal;
//     font-weight: 200;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Raleway";
//     src: url("/assets/fonts/Raleway/Raleway-Light.ttf") format("truetype");
//     font-style: normal;
//     font-weight: 300;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Raleway";
//     src: url("/assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Raleway";
//     src: url("/assets/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
//     font-style: normal;
//     font-weight: 500;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Raleway";
//     src: url("/assets/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
//     font-style: normal;
//     font-weight: 600;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Raleway";
//     src: url("/assets/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
//     font-style: normal;
//     font-weight: 700;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Raleway";
//     src: url("/assets/fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype");
//     font-style: normal;
//     font-weight: 800;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Raleway";
//     src: url("/assets/fonts/Raleway/Raleway-Black.ttf") format("truetype");
//     font-style: normal;
//     font-weight: 900;
//     font-display: swap;
// }

html {
    font-size: 16px;
}
body {
    font-family: "Open Sans", sans-serif;
}

figure,
dl,
ol,
ul,
h5,
p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.error {
    color: #f00;
}

.no-border {
    border: 0 !important;
    box-shadow: none !important;
}
.w-fit-content {
    width: fit-content;
}

.tranform-none {
    transform: none !important;
}
header {
    .navbar-brand {
        img {
            height: 72px;
        }
    }
    .nav-link {
        color: var(--main-color);
    }
    border-bottom: 5px solid #00b1af;
}

.btn-search {
    background-color: var(--main-color);
    color: #fff;
    &:hover {
        background-color: #c87d3d;
        color: #fff;
    }
}

.btn-custom {
    background: #15a4a4;
    padding: 6px 18px;
    color: #fff;
    border-radius: 0;

    &:hover {
        background: #c87d3d;
        color: #fff;
    }
}

.link-custom {
    &:hover {
        color: #c87d3d;
    }
}

.item-news {
    .news-content {
        padding: 15px 21px;
        background: #f4f4f4;
    }
    .news-meta {
        font-size: 0.875rem;
        i {
            font-size: 6px;
            line-height: 2;
        }
    }
    .news-content {
        padding: 15px 21px;
        background: #f4f4f4;
    }
    .news-meta {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 4px;
    }

    .news-date {
        color: #959595;
        padding: 0 0 0 10px;
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .title {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.5;
        @media (min-width: 992px) {
            height: 48px;
        }
    }
}

.border-custom {
    border: 1px solid #00b0ae;
}
.text-main,
.bg-main {
    color: var(--main-color);
}
.text-sub,
.bg-sub {
    color: var(--sub-color);
}

.bg-light-dark {
    background-color: var(--bg-light-dark);
}

/* Image responsive */
.product-img {
    overflow: hidden;
    position: relative;
    padding-top: 80%;
}

.product-img img {
    position: absolute;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
/* Image responsive end */

.dropdown:hover > .dropdown-menu {
    @media (min-width: 1200px) {
        display: block;
    }
}

// .dropdown > .dropdown-toggle:active {
//     /*Without this, clicking will make it sticky*/
//     pointer-events: none;
// }

.main-menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;

    .menu-link::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }

    .project {
        position: static;
        .dropdown-menu {
            left: 0;
        }
    }
}

.mainSlider {
    position: relative;

    .swiper-button-prev {
        left: 40px;
    }
    .swiper-button-next {
        right: 40px;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        color: #e5eeee;
        font-weight: 700;
    }
    // .swiper-image {
    //     height: calc(100vh - 126px);
    // }
    .image-title {
        position: absolute;
        left: 15%;
        bottom: 20%;
        width: 300px;
        p {
            font-size: 1.75rem;
            color: #000;
            text-shadow: 0px 4px 15px #ffffff;
        }

        @media (min-width: 992px) {
            p {
                font-size: 2.875rem;
                color: #000;
                text-shadow: 0px 4px 15px #ffffff;
            }
        }
    }
}

.menu-wrap {
    padding: 0;
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0.55), rgba(34, 34, 34, 0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C222222', endColorstr='#00222222');

    .container {
        padding: 0;
    }

    .navbar-nav .nav-link {
        color: #fff;
        height: 40px;
        line-height: 40px;
        padding: 0px 17px;

        &:hover {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
        }
    }

    .input-group-search {
        button {
            color: #ced4da;
        }
        input::placeholder {
            color: #ced4da;
        }
    }

    .header-project {
        position: relative;
        .title {
            position: absolute;
            bottom: 0;
            white-space: pre-line;
            color: #fff;
            font-weight: 600;
        }
        img {
            height: 200px;
            object-fit: cover;
            filter: brightness(80%);
        }
    }
}

.mainBanner {
    position: relative;

    .main-menu {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 2;
    }
}

.render-content {
    .title {
        position: relative;
        padding-left: 30px;
        &::before {
            position: absolute;
            left: 0;
            content: "";
            border-left: 10px solid #ff8114;
            width: 20px;
            height: 100%;
        }
        h3 {
            font-weight: 700;
            color: #ff8114;
            margin-bottom: 0;
        }
    }
}
.project {
    &__img {
        max-height: 400px;
    }

    // h3::before {
    //     content: "";
    //     width: 5px;
    //     height: 55px;
    //     background: #00b0ae;
    //     float: left;
    //     padding: 10px;
    //     margin-right: 10px;
    // }

    // &__desc {
    //     padding-left: 30px;
    // }

    // .donate_box {
    //     height: 200px;
    //     width: 200px;
    //     background: #00b0ae;
    //     display: flex;
    //     align-items: center;
    //     color: #fff;
    //     font-weight: bold;
    //     a {
    //         display: block;
    //         margin: 0 auto;
    //     }
    // }

    // .read_more_box {
    //     height: 200px;
    //     width: 200px;
    //     background: #fff;
    //     /* Firefox */
    //     display: -moz-box;
    //     -moz-box-pack: center;
    //     -moz-box-align: center;
    //     /* Safari and Chrome */
    //     display: -webkit-box;
    //     -webkit-box-pack: center;
    //     -webkit-box-align: center;
    //     /* W3C */
    //     display: box;
    //     box-pack: center;
    //     box-align: center;
    //     color: #00b0ae;
    // }

    &__item {
        .wrapper {
            padding: 28px 20px;
        }
        margin: 15px 15px 27px;
        background: #ffffff;
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        &__button {
            margin-top: 20px;
        }
    }
}

main {
    .block2 {
        h3 {
            font-weight: 700;
        }
        p {
            color: #000;
        }

        // .mission {
        //     height: auto;
        // }
        // .vission {
        //     height: auto;
        // }

        @media (min-width: 992px) {
            .mission {
                padding: 4px 224px 0px 140px;
                height: 260px;
                background: url("/assets/images/bg_mission.png");
                background-size: 90% auto;
                background-repeat: no-repeat;
                background-position: left;
            }
            .vission {
                padding: 14px 144px 0px 200px;
                height: 260px;
                margin-top: -100px;
                background: url("/assets/images/bg_vission.png");
                background-size: 90% 80%;
                background-repeat: no-repeat;
                background-position: right;
            }
            p {
                color: #fff;
            }
        }
    }

    .block3 {
        background-color: #f2f2f2;

        h4 {
            text-transform: uppercase;
            font-size: 1rem;
        }

        .project {
            &__description {
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
            }
            h4 {
                font-size: 1.25rem;
                font-weight: bold;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }
        }
    }

    .block4 {
        margin-bottom: 3rem;
        .title a {
            color: #616060;
            font-size: 1rem;
        }
        .desc-truncate {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }

        .partnerSlider {
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .partnerSlider {
            text-align: center;
            font-size: 18px;
            background: #fff;
            height: calc((100% - 30px) / 2) !important;

            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .block6 {
        margin: 4rem 0;
        .testimonial {
            box-shadow: 0px 27px 38px -34px rgba(0, 0, 0, 0.33), 0px -37px 38px -34px rgba(0, 0, 0, 0.33);

            span {
                color: #999;
            }
        }
    }

    .block7 {
        margin-bottom: 3rem;
        .subscribe-block {
            background: url("/assets/images/bg_footer.png");
            background-size: 100% 100%;
        }
    }
    .block8 {
        .article {
            &__desc {
                background-color: #f1f1f1;
                padding: 1.5rem;
            }
            h4 {
                font-size: 1rem;
                font-weight: 700;
                line-height: 1.5;
            }
        }
    }

    .block9 {
        .mainBanner {
            position: relative;

            .main-menu {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
                z-index: 2;
            }
        }
    }
    .block10 {
        // .banner-left {
        // }
        .banner-right {
            background-color: #222;
            .wrapper {
                padding: 48px 12px;
                width: 100%;
            }
            .mosaic-lede-banner__headline-subtitle {
                color: #fff;
                border-top: 8px solid #ffbc1b;
                border-bottom: 8px solid #ffbc1b;
                font-family: "Open Sans", sans-serif;
                font-size: 30px;
                font-weight: 700;
                letter-spacing: 0px;
                line-height: 1.3;
                margin-bottom: 0;
                padding: 12px 0;
                text-transform: uppercase;
            }

            .promotion .__copy {
                color: rgba(255, 255, 255, 0.7);
                display: table-cell;
                font-size: 14.4px;
                font-weight: 700;
                line-height: 1;
                padding-right: 10px;
                text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                text-transform: uppercase;
                vertical-align: middle;
                white-space: nowrap;
            }
        }
    }

    .block13 {
        .achievement {
            .number {
                color: #343434;
                font-size: 45px;
                font-weight: 700;
            }
            .desc {
                display: inline-flex;
                font-size: 22px;
                padding-right: 10px;
                font-weight: 400;
                color: #ff8114;
            }
        }
    }

    .block14 {
        .address_info {
            background-color: rgb(255 255 255 / 0.7);
            margin-top: -50px;
            &::before {
                content: "";
                width: 5px;
                height: 100%;
                background-color: #00b0ae;
                float: left;
                margin-right: 10px;
            }
            p {
                line-height: 2;
            }
        }
    }

    .block15 {
        .contact_content {
            background-color: #ffecdd;
        }
    }

    .block16 {
        p {
            line-height: 2;
            font-size: 1.25rem;
        }
        .transfer_info {
            background-color: #f2f2f2;
            border-left: 9px solid #00b0ae;
        }
    }

    .block17 {
        .wrap {
            border-radius: 4px;
            box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);

            margin: 48px auto;
        }

        .form-note {
            font-size: 0.875rem;
            color: #999;
        }
    }
}

.camp-group-block {
    .left-block {
        background-color: #ffecdd;
        padding: 0.75rem 1rem;
    }
    .right-block {
        background-color: #ff8114;
        padding: 0.75rem 1rem;
        color: #fff;
    }
}

a.custom {
    color: #000000;
    &:hover {
        color: var(--main-color);
    }
}

td {
    border: 1px solid #33333336;
    padding: 10px;
}

.category-title {
    font-size: 2rem;
    border-top: 10px solid #00b0ae;
    padding-top: 15px;
    width: fit-content;
}

.mission_dot {
    width: 100%;
    height: 85px;
    text-align: center;

    span {
        width: 20px;
        height: 20px;
        background-color: #63e6e4;
        float: left;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

#about {
    p {
        text-align: justify;
    }
}

#donate_online {
    .amountDiv {
        border: 1px solid #eae4e4;
        background: #fff;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 8px 0px 7px #a19f9f4d;
        -moz-box-shadow: 8px 0px 7px #a19f9f4d;
        -webkit-box-shadow: 8px 0px 7px #a19f9f4d;
        -o-box-shadow: 8px 0px 7px #a19f9f4d;
        -ms-box-shadow: 8px 0px 7px #a19f9f4d;
    }
    .amountDiv .btn-amount {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        color: #000;
        background-color: #d6d3d3;
        text-decoration: none;
        line-height: 30px;
        width: 130px;
        text-align: center;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        margin: 5px;
        &:hover {
            background-color: #666;
        }
        &.active {
            background: #fcb72e !important;
            color: #20a19f !important;
        }
    }

    .form-donate-info {
        background-color: #e3f4f0;
        padding: 30px 15px;
        p {
            color: #00b0ae;
            text-align: justify;
            padding: 15px;
        }
    }
    .tertiary-color {
        color: #00b0ae !important;
    }

    .donate-payment-option a {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        margin-right: 10px;
        color: #000;
        background: #d6d3d3;
        text-decoration: none;
        line-height: 60px;
        width: 220px;
        height: 60px;
        text-align: center;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        margin-bottom: 10px;
    }
    .donate-payment-option a:hover,
    .donate-payment-option a.on {
        background: #fcb72e !important;
        color: #20a19f !important;
    }

    .donate-payment-option a:hover {
        background: #fcb72e !important;
        color: #20a19f !important;
    }

    .donate-payment-account input {
        border: 0px;
        background: #ebebeb;
        margin: 10px;
        height: 40px;
        padding: 10px;
        width: 210px;
        border-radius: 20px;
    }

    .donationCampaignHeader {
        border: 1px solid #eae4e4;
        margin-top: 15px;
        background: #fff;
        padding: 15px;
        border-radius: 20px 20px 0px 0px;
        box-shadow: 8px 0px 7px #a19f9f4d;
        -moz-box-shadow: 8px 0px 7px #a19f9f4d;
        -webkit-box-shadow: 8px 0px 7px #a19f9f4d;
        -o-box-shadow: 8px 0px 7px #a19f9f4d;
        -ms-box-shadow: 8px 0px 7px #a19f9f4d;
        border-bottom: 0px;
        background: #20a19f;
        text-transform: uppercase;
        color: #fff;
    }

    .donationCampaign {
        border-top: 0px;
        border-radius: 0px 0px 20px 20px;
        margin-top: 0px;
    }

    .btn-submit {
        background: #20a19f;
        height: 72px;
        border-radius: 20px;
        margin-top: 20px;
    }

    .btn-submit button {
        background: #20a19f;
        border: 0px;
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        width: 100%;
        height: 72px;
        border-radius: 20px;
    }

    .delicationDiv {
        margin: 20px 0px;
    }
}

// Pagination
.pagination {
    .page-link {
        color: #000;
    }
    .active > .page-link,
    .page-link.active {
        background-color: var(--bg-main);
        border-color: var(--bg-main);
        color: #fff;
    }
}

#footer {
    background: #363636;
    color: #fff;

    ul li a {
        color: #fff;
        &:hover {
            color: var(--main-color);
        }
    }

    .copyright {
        color: #bdcbcb;
        a {
            color: #bdcbcb;
        }
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 0.75rem;
    }
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.call-now {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 266666600 !important;
}

.btn-register-link {
    background: #00b1af;
    line-height: 1.3;
    padding: 0.8em 1em;
    cursor: pointer;
    color: #fff;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: none;
    border-radius: 10px;
    width: 300px;
}

.container.-framed {
    background-color: #fff;
    margin-top: 24px;
    overflow: hidden;
    padding: 48px 0;
    position: relative;
}

.mh-contact {
    background-color: transparent;
    cursor: pointer;
    height: 110px;
    visibility: visible;
    width: 110px;
}

.mh-alo-ph-circle {
    background-color: transparent;
    border: 2px solid #ff8114;
    border-radius: 100%;
    position: absolute;
    top: 15px;
    left: 15px;
    height: 85px;
    width: 85px;
    opacity: 0.5;
}
.mh-alo-ph-circle-fill {
    background-color: rgb(255 129 20 / 0.5);
    border: 2px solid transparent;
    border-radius: 100%;
    height: 60px;
    left: 28px;
    opacity: 0.75 !important;
    position: absolute;
    top: 28px;
    transition: all 0.5s ease 0s;
    width: 60px;
}

.mh-img-circle {
    background: #ff8114;
    border: 2px solid transparent;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    opacity: 0.7;
    position: absolute;
    top: 38px;
    left: 38px;
    transform-origin: 50% 50% 0;
    transition: all 0.2s ease-in-out 0s;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
}
