:root {
  --bg-light: #eff2f8;
  --main-color: #20a19f;
  --sub-color: #c87d3d;
  --bg-main: #20a19f;
  --bg-sub: #c87d3d;
  --bg-light-dark: #343a40;
}

/********** Template CSS **********/
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway/Raleway-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway/Raleway-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway/Raleway-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway/Raleway-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway/Raleway-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
html {
  font-size: 16px;
}

body {
  font-family: "Raleway", sans-serif;
}

figure,
dl,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.error {
  color: #f00;
}

.no-border {
  border: 0 !important;
  box-shadow: none !important;
}

.w-fit-content {
  width: -moz-fit-content;
  width: fit-content;
}

.tranform-none {
  transform: none !important;
}

.form-floating.form-floating-sm > .form-control,
.form-floating.form-floating-sm > .form-control-plaintext,
.form-floating.form-floating-sm > .form-select {
  height: calc(3rem + var(--bs-border-width) * 2);
  min-height: calc(3rem + var(--bs-border-width) * 2);
  line-height: 1;
}

.form-floating.form-floating-sm > label {
  padding: 0.75rem;
}

header {
  border-bottom: 5px solid #00b1af;
}
header .navbar-brand img {
  height: 72px;
}
header .nav-link {
  color: var(--main-color);
  font-weight: 600;
}

.btn-search {
  background-color: var(--main-color);
  color: #fff;
}
.btn-search:hover {
  background-color: #c87d3d;
  color: #fff;
}

.btn-custom {
  background: #15a4a4;
  padding: 6px 18px;
  color: #fff;
  border-radius: 0;
  font-weight: 600;
}
.btn-custom:hover {
  background: #c87d3d;
  color: #fff;
}

.link-custom:hover {
  color: #c87d3d;
}

.item-news .news-content {
  padding: 15px 21px;
  background: #f4f4f4;
}
.item-news .news-meta {
  font-size: 0.875rem;
}
.item-news .news-meta i {
  font-size: 6px;
  line-height: 2;
}
.item-news .news-content {
  padding: 15px 21px;
  background: #f4f4f4;
}
.item-news .news-meta {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
}
.item-news .news-date {
  color: #959595;
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.item-news .title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
}
@media (min-width: 992px) {
  .item-news .title {
    height: 48px;
  }
}

.border-custom {
  border: 1px solid #00b0ae;
}

.text-main,
.bg-main {
  color: var(--main-color);
}

.text-sub,
.bg-sub {
  color: var(--sub-color);
}

.bg-light-dark {
  background-color: var(--bg-light-dark);
}

/* Image responsive */
.product-img {
  overflow: hidden;
  position: relative;
  padding-top: 80%;
}

.product-img img {
  position: absolute;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

/* Image responsive end */
@media (min-width: 1200px) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}

.main-menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}
.main-menu .menu-link::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.main-menu .project {
  position: static;
}
.main-menu .project .dropdown-menu {
  left: 0;
}

.mainSlider {
  position: relative;
}
.mainSlider .swiper-button-prev {
  left: 40px;
}
.mainSlider .swiper-button-next {
  right: 40px;
}
.mainSlider .swiper-button-next:after,
.mainSlider .swiper-button-prev:after {
  color: #e5eeee;
  font-weight: 700;
}
.mainSlider .image-title {
  position: absolute;
  left: 15%;
  bottom: 20%;
  width: 300px;
}
.mainSlider .image-title p {
  font-size: 1.75rem;
  color: #000;
  text-shadow: 0px 4px 15px #ffffff;
}
@media (min-width: 992px) {
  .mainSlider .image-title p {
    font-size: 2.875rem;
    color: #000;
    text-shadow: 0px 4px 15px #ffffff;
  }
}

.menu-wrap {
  padding: 0;
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0.55), rgba(34, 34, 34, 0));
}
.menu-wrap .container {
  padding: 0;
}
.menu-wrap .navbar-nav .nav-link {
  color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0px 17px;
  font-weight: 600;
}
.menu-wrap .navbar-nav .nav-link:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
}
.menu-wrap .input-group-search button {
  color: #ced4da;
}
.menu-wrap .input-group-search input::-moz-placeholder {
  color: #ced4da;
}
.menu-wrap .input-group-search input::placeholder {
  color: #ced4da;
}
.menu-wrap .header-project {
  position: relative;
}
.menu-wrap .header-project .title {
  position: absolute;
  bottom: 0;
  white-space: pre-line;
  color: #fff;
  font-weight: 600;
}
.menu-wrap .header-project img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(80%);
}

.mainBanner {
  position: relative;
}
.mainBanner .main-menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.render-content .title {
  position: relative;
  padding-left: 30px;
}
.render-content .title::before {
  position: absolute;
  left: 0;
  content: "";
  border-left: 10px solid #ff8114;
  width: 20px;
  height: 100%;
}
.render-content .title h3 {
  font-weight: 700;
  color: #ff8114;
  margin-bottom: 0;
}

.project__img {
  max-height: 400px;
}
.project__item {
  margin: 15px 15px 27px;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.project__item .wrapper {
  padding: 28px 20px;
}
.project__item__button {
  margin-top: 20px;
}

main .block2 h3 {
  font-weight: 700;
}
main .block2 p {
  color: #000;
}
@media (min-width: 992px) {
  main .block2 .mission {
    padding: 4px 224px 0px 140px;
    height: 260px;
    background: url("/assets/images/bg_mission.png");
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: left;
  }
  main .block2 .vission {
    padding: 14px 144px 0px 200px;
    height: 260px;
    margin-top: -100px;
    background: url("/assets/images/bg_vission.png");
    background-size: 90% 80%;
    background-repeat: no-repeat;
    background-position: right;
  }
  main .block2 p {
    color: #fff;
  }
}
main .block3 {
  background-color: #f2f2f2;
}
main .block3 h4 {
  text-transform: uppercase;
  font-size: 1rem;
}
main .block3 .project__description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
main .block3 .project h4 {
  font-size: 1.25rem;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
main .block4 {
  margin-bottom: 3rem;
}
main .block4 .title a {
  color: #616060;
  font-size: 1rem;
}
main .block4 .desc-truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
main .block4 .partnerSlider {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
main .block4 .partnerSlider {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
main .block6 {
  margin: 4rem 0;
}
main .block6 .testimonial {
  box-shadow: 0px 27px 38px -34px rgba(0, 0, 0, 0.33), 0px -37px 38px -34px rgba(0, 0, 0, 0.33);
}
main .block6 .testimonial span {
  color: #999;
}
main .block7 {
  margin-bottom: 3rem;
}
main .block7 .subscribe-block {
  background: url("/assets/images/bg_footer.jpg");
  background-size: 100% 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px #fff;
}
main .block8 .article__desc {
  background-color: #f1f1f1;
  padding: 1.5rem;
}
main .block8 .article h4 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}
main .block9 .mainBanner {
  position: relative;
}
main .block9 .mainBanner .main-menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}
main .block10 .banner-right {
  background-color: #222;
}
main .block10 .banner-right .wrapper {
  padding: 48px 12px;
  width: 100%;
}
main .block10 .banner-right .mosaic-lede-banner__headline-subtitle {
  color: #fff;
  border-top: 8px solid #ffbc1b;
  border-bottom: 8px solid #ffbc1b;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.3;
  margin-bottom: 0;
  padding: 12px 0;
  text-transform: uppercase;
}
main .block10 .banner-right .promotion .__copy {
  color: rgba(255, 255, 255, 0.7);
  display: table-cell;
  font-size: 14.4px;
  font-weight: 700;
  line-height: 1;
  padding-right: 10px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}
main .block13 .achievement .number {
  color: #343434;
  font-size: 45px;
  font-weight: 700;
}
main .block13 .achievement .desc {
  display: inline-flex;
  font-size: 22px;
  padding-right: 10px;
  font-weight: 400;
  color: #ff8114;
}
main .block14 .address_info {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: -50px;
}
main .block14 .address_info::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: #00b0ae;
  float: left;
  margin-right: 10px;
}
main .block14 .address_info p {
  line-height: 2;
}
main .block15 .contact_content {
  background-color: #ffecdd;
}
main .block16 p {
  line-height: 2;
  font-size: 1.25rem;
}
main .block16 .transfer_info {
  background-color: #f2f2f2;
  border-left: 9px solid #00b0ae;
}
main .block17 .wrap {
  border-radius: 4px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  margin: 48px auto;
}
main .block17 .form-note {
  font-size: 0.875rem;
  color: #999;
}

.camp-group-block .left-block {
  background-color: #ffecdd;
  padding: 0.75rem 1rem;
}
.camp-group-block .right-block {
  background-color: #ff8114;
  padding: 0.75rem 1rem;
  color: #fff;
}

a.custom {
  color: #000000;
}
a.custom:hover {
  color: var(--main-color);
}

td {
  border: 1px solid rgba(51, 51, 51, 0.2117647059);
  padding: 10px;
}

.category-title {
  font-size: 2rem;
  border-top: 10px solid #00b0ae;
  padding-top: 15px;
  width: -moz-fit-content;
  width: fit-content;
}

.mission_dot {
  width: 100%;
  height: 85px;
  text-align: center;
}
.mission_dot span {
  width: 20px;
  height: 20px;
  background-color: #63e6e4;
  float: left;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#about p {
  text-align: justify;
}

#donate_online .list-donate-price {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
#donate_online .list-donate-price li {
  margin-right: 0;
  flex-basis: calc(50% - 8px);
}
@media (min-width: 576px) {
  #donate_online .list-donate-price li {
    flex-basis: calc(33.3333333333% - 8px);
  }
}
@media (min-width: 767px) {
  #donate_online .list-donate-price li {
    flex-basis: calc(25% - 8px);
  }
}
@media (min-width: 1200px) {
  #donate_online .list-donate-price li {
    flex-basis: calc(20% - 8px);
  }
}
@media (min-width: 1400px) {
  #donate_online .list-donate-price li {
    flex-basis: calc(16.6666666667% - 8px);
  }
}
#donate_online .list-donate-price .donate-price {
  width: 100%;
  background-color: #d6d3d3;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  font-weight: 600;
}
#donate_online .list-donate-price .donate-price.active, #donate_online .list-donate-price .donate-price:hover {
  background-color: #fcb72e;
  color: var(--main-color);
}
#donate_online .amountDiv {
  border: 1px solid #eae4e4;
  border-radius: 1.25rem;
  padding: 1rem;
  box-shadow: 8px 0px 7px rgba(161, 159, 159, 0.3019607843);
  -moz-box-shadow: 8px 0px 7px rgba(161, 159, 159, 0.3019607843);
  -webkit-box-shadow: 8px 0px 7px rgba(161, 159, 159, 0.3019607843);
  -o-box-shadow: 8px 0px 7px rgba(161, 159, 159, 0.3019607843);
  -ms-box-shadow: 8px 0px 7px rgba(161, 159, 159, 0.3019607843);
}
#donate_online .amountDiv .btn-amount {
  display: inline-block;
  font-weight: 700;
  color: #000;
  background-color: #d6d3d3;
  text-decoration: none;
  line-height: 30px;
  width: 130px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  margin: 5px;
}
#donate_online .amountDiv .btn-amount:hover {
  background-color: #666;
}
#donate_online .amountDiv .btn-amount.active {
  background: #fcb72e !important;
  color: #20a19f !important;
}
#donate_online .form-donate-info {
  background-color: #e3f4f0;
  padding: 1rem;
  border-radius: 1.25rem;
}
#donate_online .form-donate-info p {
  color: #00b0ae;
  text-align: justify;
  padding: 15px;
}
#donate_online .form-donate-info img {
  border-radius: 1.25rem;
}
#donate_online .frequency {
  padding: 25px 0px;
}
#donate_online .frequency a {
  display: inline-block;
  font-weight: 700;
  margin-right: 10px;
  background-color: #d6d3d3;
  text-decoration: none;
  line-height: 30px;
  width: 130px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}
#donate_online .frequency a:hover,
#donate_online .frequency a.on,
#donate_online a.creditdebit:hover {
  background-color: #fcb72e !important;
  color: #20a19f !important;
}
#donate_online .donate-payment-option a {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
  color: #000;
  background: #d6d3d3;
  text-decoration: none;
  line-height: 60px;
  width: 220px;
  height: 60px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}
#donate_online .donate-payment-option a:hover,
#donate_online .donate-payment-option a.on {
  background: #fcb72e !important;
  color: #20a19f !important;
}
#donate_online .donate-payment-option a:hover {
  background: #fcb72e !important;
  color: #20a19f !important;
}
#donate_online .wrap-block {
  border: 1px solid #eae4e4;
  border-radius: 20px;
  box-shadow: 8px 0px 7px rgba(161, 159, 159, 0.3019607843);
  -moz-box-shadow: 8px 0px 7px rgba(161, 159, 159, 0.3019607843);
  -webkit-box-shadow: 8px 0px 7px rgba(161, 159, 159, 0.3019607843);
  -o-box-shadow: 8px 0px 7px rgba(161, 159, 159, 0.3019607843);
  -ms-box-shadow: 8px 0px 7px rgba(161, 159, 159, 0.3019607843);
  overflow: hidden;
}
#donate_online .donationCampaignHeader {
  background-color: var(--bg-main);
  text-transform: uppercase;
  color: #fff;
}
#donate_online .btn-submit {
  background-color: var(--bg-main);
  border-radius: 1.25rem;
}
#donate_online .btn-submit button {
  background-color: var(--bg-main);
  border: 0px;
  font-size: 1.75rem;
  font-weight: 600;
  color: #fff;
  width: 100%;
  border-radius: 1rem;
}

.pagination .page-link {
  color: #000;
}
.pagination .active > .page-link,
.pagination .page-link.active {
  background-color: var(--bg-main);
  border-color: var(--bg-main);
  color: #fff;
}

#footer {
  background: #363636;
  color: #fff;
}
#footer ul li a {
  color: #fff;
}
#footer ul li a:hover {
  color: var(--main-color);
}
#footer .copyright {
  color: #bdcbcb;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.75rem;
}
#footer .copyright a {
  color: #bdcbcb;
}

.animated.infinite {
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.call-now {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 266666600 !important;
}

.btn-register-link {
  background: #00b1af;
  line-height: 1.3;
  padding: 0.8em 1em;
  cursor: pointer;
  color: #fff;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
  border-radius: 10px;
  width: 300px;
}

.container.-framed {
  background-color: #fff;
  margin-top: 24px;
  overflow: hidden;
  padding: 48px 0;
  position: relative;
}

.mh-contact {
  background-color: transparent;
  cursor: pointer;
  height: 110px;
  visibility: visible;
  width: 110px;
}

.mh-alo-ph-circle {
  background-color: transparent;
  border: 2px solid #ff8114;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 15px;
  height: 85px;
  width: 85px;
  opacity: 0.5;
}

.mh-alo-ph-circle-fill {
  background-color: rgba(255, 129, 20, 0.5);
  border: 2px solid transparent;
  border-radius: 100%;
  height: 60px;
  left: 28px;
  opacity: 0.75 !important;
  position: absolute;
  top: 28px;
  transition: all 0.5s ease 0s;
  width: 60px;
}

.mh-img-circle {
  background: #ff8114;
  border: 2px solid transparent;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  opacity: 0.7;
  position: absolute;
  top: 38px;
  left: 38px;
  transform-origin: 50% 50% 0;
  transition: all 0.2s ease-in-out 0s;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map*/